.bar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    background-color: #e70074;
    height: 30px;
    column-gap: 5px;
    color: white;
    height: 51px;
    font-size: 20px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

h4{
    font-weight: 300;
}

i{
    padding: 10px;
}

h4{
    padding-top: 10px;
    padding-bottom: 10px;
}

a{
    color: white;
}

.left-arrow{
    width: 20px;
    padding: 5px 5px 0px 5px;
    /* height: 20px; */
}

.back{
    padding-left: 10px;
}