.address-container{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 12px;
    line-height: 12px;
    box-shadow: 0px 2px 1px 1px rgb(235, 235, 235);
    border-radius: 5px;
    padding-left: 7px;
    background-color: white;
}

.add{
    color:rgb(74, 76, 79);
    font-size: 15px;
    padding: 0px;
}