.finish{
    color: white;
    background-color: #e70074;
    height: 40px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: 0px;
    font-size: 14px;
    font-weight: 550;
    box-shadow: 0px 2px 1px 1px rgb(235, 235, 235);
    height: 45px;
}

.finish-container{
    margin-left: 12px;
    margin-right: 12px;
    /* line-height: 12px; */
    /* box-shadow: 0px 2px 1px 1px rgb(235, 235, 235) */
}

.finish-container p{
    
    margin-bottom: 5px;
    margin-top: 5px;
    
}

.finish-container a{
    text-decoration: none;
}