.finish{
    color: white;
    background-color: #e70074;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    border-radius: 5px;
}

.finish-container{
    margin-left: 12px;
    margin-right: 12px;
    /* line-height: 12px; */
    /* box-shadow: 0px 2px 1px 1px rgb(235, 235, 235) */
}

.finish-container p{
    font-weight: 450;
    margin-bottom: 0px;
    margin-top: 5px;
}